.button {
    user-select: none;
    position: relative;
    outline: 0;
    border: 0;
    vertical-align: middle;
    background: inherit;
    line-height: 1.25rem;
    text-decoration: none;
    text-transform: capitalize;
    color: inherit;
    letter-spacing: 0.00125rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 1.25rem;
}